<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudyIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81547E7C1BF0767800042145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81547E8A1BF0769E00042145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C22C2BA1BBB4B8F006971F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
